<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card p-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="mt-2">
        <h4 class="truncate">Posted by: {{product.author}}</h4>
        <div class="">
          <h2 class="redtext">{{product.name}}</h2>
          <h5 class="redtext">PRICE: ${{product.price}}</h5>
          <p class="text-muted">
            CATEGORY:
            {{product.category}}
          </p>
          <div class="d-flex flex-row">
            <div class="">

              <p class="text-muted">
                CONDITION:
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src={{productImage}} width="150" class="img-fluid" />
      </div>
    </div>
    <p class="my-1">{{product.description}} </p>
    {{#if isOwnListing}}
      <button class="btn btn-warning whitetext font-weight-bold">DELETE LISTING</button>
    {{/if}}
  </div>
</div>