<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <h2 class="redtext">STEVENS MARKETPLACE</h2>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/chat">
              <i class="bi bi-chat-dots"></i>
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/listings/saved">
              <i class="bi bi-bag"></i>
            </a>
          </button>

        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/profile">
              <i class="bi bi-person"></i>
            </a>
          </button>

        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="test2">
  <div class="container d-flex justify-content-center">
    <div class="my-5 col-5 card-body chatbg text-center ">
      <div class="card test2 card-body">
        <h1 class="whitetext">Profile</h1>
      </div>
      <div class="my-5">
        <img src="images\profile_symbol.jpg" alt="" width="200" height="180" />
      </div>
      <div class="">
        <h1>First Name</h1>
        <p>{{user.firstName}}</p>
      </div>
      <div class="">
        <h1>Last Name</h1>
        <p>{{user.lastName}}</p>
      </div>
      <div class="">
        <h1>Overall Rating</h1>
        <p>{{user.overallRating}}</p>
      </div>
      <div class="">
        <h1>Listings</h1>
        <p>This is where your listings (as a seller) will appear. Any item you are
          currently trying to sell can be seen here!</p>
        <ul>
          {{#each user.userListings}}
          <li>
            <p>{{this.name}}</p>
            <p>{{this.description}}</p>
            <p>{{this.postedDate}}</p>
            <p>{{this.askingPrice}}</p>
            <p>{{this.condition}}</p>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>



  </div>
  <div class="text-center">
    <span>
      <button class="btn btn-lg btn-warning">
        <a class=" font-weight-bold whitetext" href="/listings/create">CREATE LISTING</a>
      </button>
      <button class="btn btn-lg btn-primary">
        <a class="whitetext font-weight-bold" href="/profile/create">UPDATE PROFILE</a>
      </button>
    </span>
  </div>
</section>